<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
    </style>
</head>

<body align="center" style="margin: 0; padding: 0;">
    <div style="
        position: relative;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        max-width: 540px;
        width: 540px;
        background-color: #fcfcfc;
        border-radius: 4px;
        overflow: hidden;
      ">
        <table cellpadding="0" cellspacing="0" border="0" style="
          table-layout: fixed;
          background-color: #615efa;
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          height: 80px;
          font-size: 30px;
          font-weight: 800;
          width: 100%;
        " align="center">
            <tr>
                <td>
                    Welcome to Prisma!
                </td>
            </tr>
        </table>
        <div style="padding: 40px;">
            <div align="left" style="font-size: 18px; font-weight: 600; color: #000;">
                Hello, {{ name }}
            </div>
            <div align="left" style="line-height: 1.6; margin-top: 10px; color: #666;">
                Thank you for signing up for Prisma. We are very excited to have you
                onboard
            </div>
            <div align="left" style="line-height: 1.6; margin-top: 10px; color: #666;">
                To get started, please follow the link below to activate your account:
            </div>
            <a href={{ url }} style="text-decoration: none;">
                <table cellpadding="0" cellspacing="0" border="0" style="
              table-layout: fixed;
              background-color: #20d2e3;
              text-align: center;
              color: #fff;
              height: 50px;
              border-radius: 4px;
              padding: 0 20px;
              margin-top: 20px;
              margin-bottom: 20px;
            " align="center">
                    <tr>
                        <td>
                            Confirm your account
                        </td>
                    </tr>
                </table>
            </a>
            <div align="left" style="line-height: 1.6; margin-top: 20px; color: #666;">
                Please do not reply to this email.
            </div>
            <div style="
            width: 100%;
            height: 1px;
            background-color: #dedede;
            margin: 20px 0;
          "></div>
            <div align="left" style="
            line-height: 1.5;
            margin-top: 20px;
            color: #666;
            font-size: 12px;
          ">
                If you're having trouble clicking the "Confirm your account" button.
                Copy and paste the URL below into your web browser:
            </div>
            <a align="left" href={{ url }} style="display: block; width: 100%; margin-top: 5px; color: #615efa; font-size: 12px;">
                {{ url }}
            </a>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" style="
          table-layout: fixed;
          background-color: #efefef;
          text-align: center;
          height: 80px;
          width: 100%;
        " align="center">
            <tr>
                <td>
                    @ 2021 Prisma. All right reserved
                </td>
            </tr>
        </table>
    </div>
</body>

</html>